.Python

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
#.env/
env10/

# Ignore data and indexes
data/
faiss_index/

# Ignore logs
*.log
logs/

# Git
.git
.gitignore
